/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('backgroundviewpatient.jpg');
    /* Replace with your background image file */
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f6f7f9;
}

#patientlist {
    text-align: center;
}

#patientlist p {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}